@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  z-index: 10;
  padding-top: 1vw;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 0.5vw;
  border-radius: 45px;
  box-shadow: inset 0 0 5px 1px #ffffff6b;
  background-color: #1546286b;
  backdrop-filter: blur(10px);
}

.nav-logo {
  height: 100%;
  padding-left: 1.5vw;
}

.nav-img {
  width: 3vw;
}

.nav-links a {
  font-size: 1.1vw;
  font-weight: 400;
  color: white;
  text-decoration: none;
  transition: all linear 0.1s;
}

.nav-links a:hover {
  color: #00d14f;
}

.nav-links {
  display: flex;
  gap: 1.5vw;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  padding: 1vw 3vw;
  border-radius: 45px;
  background-color: #00d14f;
  box-shadow: inset 0 0 5px 1px #ffffff6b;
  color: black;
  text-decoration: none;
  font-weight: 400;
  transition: all ease-in-out 0.3s;
}
.hamburger, .menu{
  display: none;
}


.nav-button:hover {
  background-color: white;
}

.hero {
  background: linear-gradient(to bottom, black 0%, #154628 50%);
  height: 180vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vw;
  align-items: center;
}

.hero-para {
  align-items: center;
  justify-content: center;
  display: flex;
}

.hero-para img {
  position: absolute;
  bottom: 0;
  z-index: 0;
  transform: translate(15vw, -6vw);
  height: 27vw;
  filter: blur(10px);
}

.hero-paragraph {
  position: relative;
  z-index: 1;
  color: #e3f3f7;
  font-weight: 300;
  text-align: center;
  width: 60%;
}

.hero-heading {
  position: relative;
  z-index: 1;
  font-size: 25vw;
  font-weight: 600;
  letter-spacing: -1vw;
  color: #e8f7fc;
}

.heading img:nth-child(1) {
  position: absolute;
  z-index: 2;
  height: 20vw;
  transform: translate(-7vw, -2vw);
}

.heading img:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 16vw;
  transform: translate(-10vw, 8vw);
}

.prof-text {
  font-size: 2.3vw;
  font-weight: 600;
  color: #e8f7fc;
}

.photographer-text {
  color: #e8f7fc;
  font-weight: 600;
  font-size: 5vw;
}

.icons {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(5vw, 22vw);

  flex-direction: column;
  justify-content: space-between;
  gap: 3vw;
}
.icons img {
  height: 1.75vw;
}

.pictures-sec {
  background-color: #2c2c2c;
  padding: 4vw 2vw;
}

.photo-text {
  background: url("images/banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vw;
}
.photo-text img {
  width: 75%;
  align-self: flex-end;
  position: absolute;
}
.overlay {
  width: 96%;
  height: 18vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.616);
}

.photographers-text {
  color: white;
  font-weight: 500;
  font-size: 2.3vw;
  width: 45%;
  text-align: center;
  transform: translateY(-2vw);
}

.many-images {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 8vw;
  gap: 1.2vw;
}

.firstdiv {
  width: 50%;
}

.firstdiv img {
  width: 100%;
  border-radius: 15px;
}

.second-div {
  display: flex;
  justify-content: space-between;
  gap: 1.2vw;
  flex-wrap: wrap;
  width: 50%;
}

.second-div img {
  width: 48.5%;
  border-radius: 15px;
}

.green-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #00d14f;
  width: 48.5%;
  border-radius: 15px;
}

.year-text {
  font-size: 7.5vw;
  font-weight: 500;
}

.year-paragraph {
  font-weight: 300;
  font-size: 1.2vw;
}

.click-img {
  border-radius: 15px;
  width: 48.5%;
}

.about {
  padding: 4vw 2vw;
  background-color: #1e1e1e;
}

.about-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.about-heading {
  color: white;
  font-size: 7vw;
  font-weight: 500;
}

.about-paragraph {
  color: white;
  font-size: 1.1vw;
  width: 40%;
  text-align: center;
}

.about-pic {
  padding-top: 6vw;
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.about-pic img {
  width: 100%;
  border-radius: 15px;
}

.about-content {
  display: flex;
  gap: 4vw;
  align-items: center;
}

.design-text-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2vw;
}

.design-heading {
  font-size: 4vw;
  font-weight: 600;
  color: white;
  line-height: 5vw;
}

.design-heading span {
  color: #00d14f;
}

.design-paragraph {
  color: white;
  font-size: 1.1vw;
  font-weight: 300;
  width: 90%;
}
.daddy {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2vw;
  color: white;
}
.box1 {
  background-color: #154628;
  padding: 1.75vw 1vw;
  border-radius: 15px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translate(2vw, -2vw);
  color: white;
  animation: animationhai linear 10s infinite;
}
.box1 h2 {
  font-size: 3vw;
  font-weight: 600;
}
.box1 p {
  font-size: 1.5vw;
  width: 60%;
  text-align: center;
  font-weight: 400;
  line-height: 1.75vw;
}
@keyframes animationhai {
  0% {
    transform: translate(2vw, -2vw);
  }
  50% {
    transform: translate(2vw, 2vw);
  }
  100% {
    transform: translate(2vw, -2vw);
  }
}

.phone p {
  font-size: 1.5vw;
}

.works {
  padding: 4vw 2vw;
  background-color: #2c2c2c;
}

.work-texts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}

.work-heading {
  color: white;
  font-size: 7vw;
  font-weight: 500;
}

.work-paragraph {
  color: white;
  font-size: 1.1vw;
  width: 35%;
  text-align: center;
}

.work-box {
  padding: 12vw 0vw;
}

.work-card {
  position: sticky;
  display: flex;
  align-items: center;
  background-color: #e4e4e4;
  height: 90vh;
  border-radius: 15px;
  animation: scale ease-in-out both;
  animation-timeline: view();
}

.card1 {
  animation-range: 0% 30%;
  top: 15vh;
}
.card2 {
  animation-range: 10% 40%;
  top: 20vh;
}
.card3 {
  animation-range: 10% 60%;
  top: 20vh;
}

@keyframes scale {
  from {
    transform: scale(0.85);
  }

  to {
    transform: scale(1);
  }
}

.green {
  background-color: #154628;
  color: white;
}

.card-content {
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 2vw;
  padding: 4vw;
  width: 50%;
}

.card-content img {
  width: 100%;
  border-radius: 15px;
}

.card-second-content {
  display: flex;
  align-self: center;
  gap: 1.1vw;
  flex-direction: column;
  width: 50%;
}

.card-second-heading {
  font-weight: 400;
}

.card-second-paragraph {
  font-size: 1.1vw;
  width: 79.5%;
}

.card-text {
  font-size: 5vw;
  font-weight: 500;
}

.service-sec {
  padding: 0 2vw 4vw;
  background-color: #1e1e1e;
}

.service {
  padding: 4vw 4vw;
  border-radius: 15px;
  background: linear-gradient(to bottom, transparent 35%, #154628 80%);
}

.service-heading {
  padding-bottom: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 7vw;
  font-weight: 500;
}

.services-part {
  display: flex;
}

.first-service-part {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 30%;
}

.first-service-para {
  color: white;
  width: 160%;

  font-size: 1.25vw;
}

.first-service-part img {
  width: 100%;
}

.second-service-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 1vw;
  width: 70%;
}
.second-service-part > div {
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
}

.second-service-box {
  background-color: white;
  width: fit-content;
  padding: 1vw 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
}

.dabba1 {
  transform: rotate(3deg);
}
.dabba2 {
  transform: rotate(-5deg);
  width: fit-content;
}

.dabba3 {
  transform: rotate(-3deg);
}

.dabba4 {
  transform: rotate(5deg);
}

.dabba6 {
  transform: rotate(4deg);
}

.dabba7 {
  transform: rotate(3deg);
}

.dabba8 {
  transform: rotate(-4deg);
}

.second-service-box p {
  color: #154628;
  font-size: 1.75vw;
  font-weight: 400;
}

.pricing {
  background-color: #2c2c2c;
  padding: 4vw 2vw;
}

.price-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1vw;
}

.price-content h1 {
  color: white;
  font-size: 7vw;
  font-weight: 500;
}

.price-content p {
  color: white;
  font-size: 1.1vw;
  width: 35%;
  text-align: center;
}

.price-options {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  padding: 0.6vw 1.5vw;
  gap: 1vw;
  background-color: #ffffff;
  border-radius: 45px;
}

.price-op-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5vw;
}

.price-hour {
  color: white;
  font-weight: 500;
  font-size: 1.1vw;
  text-decoration: none;
  background-color: #282828;
  padding: 0.8vw 2vw;
  border-radius: 45px;
}
.price-project {
  color: #677086;
  font-weight: 500;
  font-size: 1.1vw;
  text-decoration: none;
}

.price-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3vw;
  padding-top: 3vw;
}

.first-card {
  background-color: #ffffff;
  height: 36vw;
  width: 30vw;
  border-radius: 20px;
}

.second-card {
  background-color: #154628;
  height: 36vw;
  width: 30vw;
  border-radius: 20px;
}

.card-first-part {
  display: flex;
  flex-direction: column;
  padding: 2.6vw;
}
.second {
  color: white;
}

.card-second-part {
  padding: 1vw 2vw;
}

.card-second-content {
  width: 100%;
}

.fa-check {
  font-size: 1.3vw;
  padding-right: 1vw;
}

.card-second-part p {
  font-size: 1.15vw;
  font-weight: 400;
}

.sub-option {
  font-size: 1.3vw;
  font-weight: 600;
}

.divv {
  padding-top: 2vw;
  display: flex;
  justify-content: center;
}

.sub-button {
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #7e7e7e;
  padding: 0.8vw 8vw;
  color: black;
  font-weight: 500;
  transition: all linear 0.2s;
  /* display: flex; */
}

.sub-button:hover {
  transform: scale(0.91);
}

.twoo {
  background-color: white;
}

.twoo:hover {
  background-color: #00d14f;
}

.dollar-text {
  font-size: 2.7vw;
  font-weight: 600;
}

.card-para {
  font-size: 1.2vw;
  font-weight: 400;
}

.gallery {
  padding: 4vw 2vw;
  background-color: #2c2c2c;
}

.gallery-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.gallery-content h1 {
  color: white;
  font-size: 7vw;
  font-weight: 500;
}

.gallery-content p {
  color: white;
  font-size: 1.1vw;
  width: 40%;
  text-align: center;
}

.gallery-images {
  display: flex;
  gap: 2vw;
  padding-top: 6vw;
}

.first-gallery {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 33.5%;
}

.second-gallery {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 33.5%;
}

.third-gallery {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 33.5%;
}

.gallery-first-img {
  border-radius: 15px;
  width: 100%;
}

.gallery-second-img {
  width: 100%;
  border-radius: 15px;
}

.testimonial {
  background-color: #1e1e1e;
  padding: 4vw 2vw;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.testimonial-content h1 {
  color: white;
  font-size: 7vw;
  font-weight: 500;
}

.testimonial-content p {
  text-align: center;
  color: white;
  font-size: 1.1vw;
  width: 50%;
}

.testimonial-cards {
  padding-top: 8vw;
  display: flex;
  gap: 1.3vw;
}

.test-card-para {
  color: white;
  font-size: 1.1vw;
  width: 100%;
}

.test-card {
  background-color: #2c2c2c;
  border-radius: 15px;
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.test-first-card {
  width: 33.5%;
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}

.test-second-card {
  width: 33.5%;
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}

.test-third-card {
  width: 33.5%;
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}

.test-card-person-img {
  width: 22%;
}

.person-text {
  color: white;
  font-size: 1.1vw;
  font-weight: 500;
}

.test-img-sec {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  background: url("images/subscribe.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 33vw;
  padding: 0 2vw;
}

.subscribe-img-background {
  width: 100%;
  height: 33vw;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
}

.subscribe-first-part {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: center;
  z-index: 1;
}

.subscribe-first-part h1 {
  width: 60%;
  font-weight: 600;
  color: white;
}

.subscribe-first-part p {
  font-size: 1.7vw;
  font-weight: 300;
  color: white;
}

.subscribe-second-part {
  padding: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 2vw;
  background-color: #ffffff;
  height: fit-content;
  width: 39vw;
  z-index: 2;
  border-radius: 15px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.newsletter h1 {
  font-weight: 600;
}

.newsletter p {
  font-size: 1.1vw;
}
.newsletter-input {
  display: flex;
}

.newsletter-input input {
  padding: 1vw;
  border-radius: 20px;
  width: 100%;
  border: 1px solid #dbdbdb;
}

.submit-btn {
  color: white;
  background-color: #00d14f;
  width: 8%;
  border-radius: 25px;
  border: none;
  position: absolute;
  padding: 1vw;
  right: 0;
  transform: translateX(-4vw);
}

.contact {
  background-color: #2c2c2c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.contact-content h1 {
  color: #00d150;
  font-size: 11vw;
  font-weight: 600;
  line-height: 11vw;
}

.contact-content h2 {
  -webkit-text-stroke: 2px #00d150;
  color: transparent;
  font-size: 11vw;
  line-height: 11vw;
  font-weight: 600;
}

.contact-btn {
  text-decoration: none;
  border-radius: 50px;
  border: 1.5px solid #00d150;
  padding: 1vw 3vw;
  font-weight: 300;
  margin-top: 3vw;
  color: white;
  transition: all linear 0.2s;
}

.contact-btn:hover {
  background-color: #00d14f;
  color: black;
}

.contact-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactbg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid transparent;
  background:
    linear-gradient(#2c2c2c, #2c2c2c) padding-box,
    linear-gradient(to bottom, #5e5e5e 20%, #1d1d1d 70%) border-box;
  height: 30vw;
  width: 30vw;
}

.contact-second-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  background: linear-gradient(to bottom, #383838 20%, #1d1d1d 100%);
}

.contact-img img {
  animation: contactimg linear both;
  animation-timeline: view();
  animation-range: 0% 80%;
  width: 95%;
}

@keyframes contactimg {
  from {
    transform: translateY(20vh);
  }

  to {
    transform: translateY(-20vh);
  }
}

footer {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  /* padding: 13vw; */
}

.footer-left {
  display: flex;
  align-self: start;
  flex-direction: column;
  gap: 4vw;
  width: 30%;
}

.footer-right {
  padding: 4vw;
  display: flex;
  flex-direction: row;
  align-self: start;
  gap: 8vw;
  width: 70%;
}

.footer-parts {
  display: flex;
  padding: 5vw 2vw;
  justify-content: space-between;
}

.footer-img {
  width: 25%;
}

.footer-left-para {
  color: white;
  font-size: 1.1vw;
  width: 85%;
  font-weight: 400;
}

.footer-main-img {
  width: 80%;
  transform: rotate(180deg) translateX(-10vw);
  align-self: end;
}

.contact-footer {
  width: 30%;
}

.footer-right-part h2 {
  color: white;
  font-weight: 500;
  font-size: 2.4vw;
}

.footer-tags a {
  font-size: 1.2vw;
  color: white;
  text-decoration: none;
  transition: all linear 0.1s;
}

.footer-tags {
  padding-top: 3vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.footer-tags a:hover {
  color: #00d14f;
}

.icon-img {
  width: 12%;
  margin-top: 2vw;
  margin-right: 1vw;
}

@media (max-width: 600px) {
  body, html{
    width: fit-content;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    padding-top: 10px;
  }
  nav {
    width: 80%;
    padding: 10px 18px;
    border-radius: 40px;
  }

  .nav-logo {
    padding-left: 0;
  }

  .nav-img {
    width: 9vw;
  }

  .nav-links,
  .nav-button {
    display: none;
  }
  .hamburger{
    display: flex;
    flex-direction: column;
    width: 10%;
    gap: 1.5vw;
  }
  .hamburger span{
    width: 100%;
    background-color: white;
    height: 2px;
  }
  .menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 92.75vw;
    z-index: 11;
    transform: translateY(-110vh);
    transition: all 0.5s linear;
    height: 100vh;
    background-color: #154628;
    padding: 4vw;
  }
  .menu-box1{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 7vw;
  }
  .menu-box1 span{
    width: 7vw;
    transform-origin: center;
    height: 3px;
    position: absolute;
    background-color: white;
  }
  .span1{
    transform: rotate(45deg);
  }
  .span2{
    transform: rotate(-45deg);
  }

  .menu-links{
    padding: 10vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 10vw;
  }
  .menu-links a{
    color: white;
    text-decoration: none;
    font-size: 7vw;
  }


  .hero {
    height: 50vh;
  }

  .icons {
    align-items: center;
    justify-content: center;
    transform: translate(5vw, -40vw);
    top: 0;
    bottom: 0;
  }

  .icons img {
    height: 5vw;
    gap: 6vw;
  }
  .hero-heading {
    font-size: 20vw;
  }

  .hero-paragraph {
    font-size: 3vw;
    width: 80%;
  }

  .photographers-text {
    font-size: 3.7vw;
    width: 85%;
  }

  .prof-text {
    font-size: 4vw;
  }

  .photographer-text {
    font-size: 6vw;
  }

  .photo-text img{
    width: 70%;
  }

  .heading img:nth-child(1) {
    transform: translate(-15vw, -2vw);
  }

  .heading img:nth-child(3) {
    transform: translate(-13vw, -150vw);
  }

  .hero-para img {
    transform: translate(8vw, -165vw);
  }

  .photo-text {
    height: 30vw;
  }

  .overlay {
    width: 96%;
    height: 30vw;
  }

  

  .many-images {
    flex-direction: column;
    width: 100%;
    padding-top: 8vw;
    padding: 7vw;
    gap: 4vw;
  }

  .firstdiv img{
    width: 170%;
  }
  .second-div{
    gap: 4vw;
    width: 170%;
  }

  .second-div img {
    width: 50%;
  }

  .green-box{
    padding: 5vw 0vw;
    width: 50%;
  }

  .year-text{
    font-size: 15vw;
  }

  .year-paragraph{
    font-size: 3.5vw;
  }

  /* about */

  .about{
    padding: 7vw;
  }
  .about-heading{
    font-size: 10vw;

  }

  .about-paragraph{
    font-size: 3vw;
    width: 98%;
    font-weight: 500;
    
  }

  .about-pic{
    width: 100%;
    align-items: start;
   
  }

  .about-pic img{
    width: 100%;

  }

  .about-content{
    flex-direction: column;
  }

  .design-heading{
    font-size: 6.5vw;
    width: 100%;
    line-height: 8vw;
  }

  .design-paragraph{
    width: 100%;
    font-size: 3.3vw;
    font-weight: 500;
    line-height: 6vw;
  }

  .design-text-section{
    padding-top: 3vw;
    
    width: 100%;
  }

  /* work section */

  .work-texts{
    gap: 3vw;
  }
  .work-heading{  
    font-size: 10vw;
  }

  .work-paragraph{
    font-size: 3vw;
    width: 88%;
    font-weight: 500;
  }
  .box1{
    gap: 1vw;
    width: 30%;
    height: 53.75vw;
    animation: none;
    transform: translate(0,0);
  }

  .box1 h2{
    font-size: 10vw;

  }

  .box1 p{
    font-size: 3vw;
    line-height: 4vw;
  }

  .phone p{
    font-size: 5vw;
  }

  

  .work-card{
    margin: 0 6vw;
    width: 85vw;
    height: 70vh;
    flex-direction: column;
    
  }

  .work-box{
    display: flex;
    flex-direction: column;
    gap: 10vw;
  }
 

  .card-content{
    align-self: start;
  }

  .card-text{
    font-size: 9vw;
    font-weight: 400;
  }

  .card-content img{
    width: 180%;
  }


  .card-second-content{
    padding: 4vw;
    margin-left: 6vw;
    gap:5vw ;

  }

  .card-second-heading{
    font-weight: 400;
  }

  .card-second-paragraph{
    font-size: 3.5vw;
    width: 95%;
  }

/* services */

.service-heading{
  font-size: 10vw;

}
.service-sec{
  padding: 7vw;
}

.first-service-part{
  width: 100%;
  align-items: center;
  justify-content: center;
}

.first-service-part img{
  width: 70%;
}

.second-service-part{
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  width: 80%;
  transform: translateY(30vw);


}


.second-service-box {
  padding: 3vw 4vw;
  
}

.second-service-box p{
  font-size: 4vw;

}

.first-service-para{
  font-size: 3vw;
  width: 100%;
  padding-bottom: 4vw;
}

.pricing{
  padding: 10vw 2vw;
}

.price-content{
  gap: 3vw;
}

.price-content h1{
  font-size: 10vw;
}

.price-content p{
  font-size: 2.8vw;
  width: 90%;
  font-weight: 500;
}

.price-options{
  padding: 1.5vw 4.5vw;
}

.price-options a{
  font-size: 3vw;
}

.price-hour{
  padding: 3vw 8vw;
}

.price-cards{
  padding-top: 8vw;
  gap: 8vw;
  flex-direction: column;
}

.first-card {
  
  height: 105vw;
  width: 85vw;

}

.second-card {
 
  height: 105vw;
  width: 85vw;
}

.sub-option{
  font-size: 5vw;

}

.dollar-text{
  font-size: 8vw;

}

.card-para{
  font-size: 4vw;
}

.card-second-content p {
  font-size: 3.5vw;
  
}

.fa-check {
  font-size: 4vw;
}
.sub-button {
 
  padding: 3vw 25vw; 
}

/* gallery section */

.gallery{
   padding: 10vw 2vw;
}

.gallery-content{
  gap: 3vw;
}

.gallery-content h1{
   font-size: 10vw;

}

.gallery-content p{
  font-size: 3vw;
  width: 85%;
  font-weight: 500;
}


.first-gallery {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 50%;
}

.second-gallery {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 50%;
}

.third-gallery {
 
  width: 50%;
}

/* testimonials */

.testimonial{
  padding: 10vw 2vw;
}

.testimonial-content{
  gap: 3vw;
}

.testimonial-content h1{
   font-size: 8vw;

}

.testimonial-content p{
  font-size: 3.3vw;
  width: 90%;
  font-weight: 500;

}

.testimonial-cards{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  
}

.test-card {
  width: 90%;
  padding: 4vw;
  gap: 4vw;
}

.test-first-card{
  width: 90%;
  gap: 4vw;
}

.test-second-card{
  width: 90%;
  gap: 4vw;

}

.test-third-card{
  width: 90%;
  gap: 4vw;

}

.test-card-para {
  font-size: 3.5vw;
  font-weight: 500;
  width: 98%;
}

.fa-star{
  font-size: 4.5vw;
}
.test-card-person-img{
  width: 25%;
}

.person-text{
  font-size: 3.5vw;
}

/* subscribe section */

.subscribe{
   padding: 0 2vw;
   padding-bottom: 10vw;
  
  align-items: center;
  flex-direction: column;
  height: 90vw;
}
.subscribe-first-part{
  padding-top: 10vw;
}
.subscribe-first-part h1 {
  font-size: 6vw;
  width: 80%;
  
}

.subscribe-first-part p {
  font-size: 4vw;
  font-weight: 400;

}

.subscribe-second-part {
  padding: 2.5vw;
  height: 45vw;
  width: 75vw;
  border-radius: 15px;
}


.newsletter{
 
}

.newsletter h1 {
  font-size: 4.5vw;
  font-weight: 500;
  width: 100%;
}

.newsletter p {
  font-size: 2.7vw;
  font-weight: 400;
  width: 100%;
}
.newsletter-input input{
  padding: 2.5vw;
}

.submit-btn {
  width: 20%; 
  padding: 2.5vw;
  font-weight: 400;
  right: 30px;
}

.subscribe-img-background {   
  height: 90vw;
  padding-bottom: 10vw;
}

/* contact */

.contact{
  padding: 10vw 2vw;
  height: 40vh;
}

.contact-second-bg{
   background: transparent;

}

.contactbg{
  background:transparent;

}

.contact-img img {
  position: absolute;
  bottom: -35px;
  animation: none;
  width: 100%;
}

.contact-content h1 {
  
  font-size: 10vw;
  line-height: 12.5vw;
}

.contact-content h2 {
  line-height: 12.5vw;
  
}


.contact-btn {
  border: 1.5px solid #00d150;
  padding: 3vw 6vw;
  transition: none;
  background-color: #2c2c2c;
}

.contact-btn-container {
  padding-top: 5vw;
}

/* footer */

.footer-img{
  width: 18%;
}

.footer-left-para{
  font-size: 3vw;
  font-weight: 500;
  width: 100%;
}
.footer-parts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw 2vw;
  justify-content: space-between;
}

.footer-left{
  padding: 4vw;
  width: 100%;


  }
.footer-right {
  flex-direction: column;
}

.footer-icons{

}

.footer-tags{
  gap: 2.5vw;

}


.footer-tags a {
  font-size: 3.5vw;
  font-weight: 500;

}

.footer-right-part{
  width: 100%;

  }



.footer-right-part h2 {
  color: white;
  font-weight: 500;
  font-size: 7vw;
}

.icon-img {
  width: 8%;
  margin-top: 2vw;
  margin-right: 1vw;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  width: 100%;
}







}





